<!-- Page Content -->
<div class="content container-fluid">
    <ng-http-loader></ng-http-loader>
    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Paperworks</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a routerLink="/dashboard">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active">Paperworks</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <a class="btn add-btn" data-toggle="modal" data-target="#add_paperwork" (click)="resetForm()"> <i class="fa fa-plus"></i> Add Paperwork </a>
                <div class="view-icons">
                    <a routerLink="/paperworks/paperwork-list" class="list-view btn btn-link active">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Header -->
    <!-- Search Filter -->
    <form (ngSubmit)="onSearch()" [formGroup]="searchForm">
        <div class="row filter-row">
                <div class="col-sm-6 col-md-3">
                    <div class="form-group form-focus">
                        <input formControlName="searchPaperworkTitle" type="text" class="form-control floating"
                            (focusout)="rerender()">
                        <label class="focus-label">Paperwork Titlte</label>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="form-group form-focus">
                        <ng-select 
                            [items]="months"
                            bindLabel="months" 
                            placeholder="--Select Month--" 
                            bindValue="months" 
                            [searchable]="true"
                            [clearable]="true" 
                            [virtualScroll]="true" 
                            class="custom-ng-select"
                            formControlName="searchMonth" 
                            [(ngModel)]="searchSelectedMonth"
                            (change)="rerender()">
                        </ng-select>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="form-group form-focus">
                        <ng-select 
                            [items]="years"
                            bindLabel="years" 
                            placeholder="--Select year--" 
                            bindValue="years" 
                            [searchable]="true"
                            [clearable]="true" 
                            [virtualScroll]="true" 
                            class="custom-ng-select"
                            formControlName="searchYear" 
                            [(ngModel)]="searchSelectedYear"
                            (change)="rerender()">
                        </ng-select>
                    </div>
                </div>
            <div class="col-sm-6 col-md-3">
                <button class="btn btn-success btn-block" type="submit">Search</button>
            </div>
        </div>
    </form>
    <!-- Search Filter -->
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="datatable"
                    class="table table-striped custom-table datatable">
                    <thead>
                        <tr>
                            <th (click)="onTableHeaderClick(0, 'paperworkTitle')">Paperwork Title</th>
                            <th (click)="onTableHeaderClick(1, 'year')">Year</th>
                            <th (click)="onTableHeaderClick(2, 'month')">Month</th>
                            <!-- <th>Status</th> -->
                            <th class="text-right">Action</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="paperworksData">
                        <tr *ngFor="let paperwork of paperworksData; let i = index">
                            <td>{{paperwork.paperworkTitle}}</td>
                            <td>{{paperwork.year}}</td>
                            <td>{{paperwork.month}}</td>
                            <td class="text-right">
                                <div>
                                    <!-- <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a> -->
                                    <div>
                                        <a class="btn btn-sm btn-info" routerLink="/paperworks/add-paperwork/{{paperwork.id}}" title="Daily Input">
                                            <i style="color: #fff;" class="fa fa-plus-square-o"></i>
                                        </a>&nbsp;
                                        <a class="btn btn-sm btn-info" title="View">
                                            <i style="color: #fff;" class="fa fa-eye m-r-5"></i>
                                        </a>&nbsp;
                                        <a class="btn btn-sm btn-info" title="Report">
                                            <i style="color: #fff;" class="fa fa-file-pdf-o"></i>
                                        </a>&nbsp;
                                        <a class="btn btn-sm btn-info" title="Edit Paperwork Title">
                                            <i style="color: #fff;" class="fa fa-pencil m-r-5"></i>
                                        </a>&nbsp;
                                        <!-- <a class="dropdown-item" data-toggle="modal" data-target="#edit_invoice" (click)="onInvoice(invoice.id)"> <i class="fa fa-pencil m-r-5"></i> Edit </a>
                                        <a class="dropdown-item" routerLink="/invoice/view-invoice/{{invoice.id}}"> <i class="fa fa-eye m-r-5"></i> View </a>
                                        <a class="dropdown-item" data-toggle="modal" data-target="#delete_invoice" (click)="tempId = invoice.id"> <i class="fa fa-trash-o m-r-5"></i> Delete </a> -->
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>
  <!-- /Page Content -->
  <!-- Add Invoice Modal -->
  <div id="add_paperwork" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" *ngIf="!selectedMonth">New Paperwork</h5>
                <h5 class="modal-title" *ngIf="selectedMonth">New Paperwork for {{selectedMonth}}, {{selectedYear}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>  
            </div>
            <div class="modal-body">
                <form [formGroup]="newPaperworkFileForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Select Month <span class="text-danger">*</span> </label>
                                <ng-select
                                    [items]="months"
                                    bindLabel="months"
                                    placeholder="--Select Year--"
                                    bindValue="months"
                                    [searchable]="true"
                                    [clearable]="true"
                                    [virtualScroll]="true"
                                    class="custom-ng-select"
                                    formControlName="month"
                                    [(ngModel)]="selectedMonth">
                                 </ng-select>
                                <div *ngIf="newPaperworkFileForm.get('month').invalid && newPaperworkFileForm.get('month').touched">
                                    <small *ngIf="newPaperworkFileForm.get('month').invalid && newPaperworkFileForm.get('month').touched" class="text-danger"> *Month is required</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Select Year <span class="text-danger">*</span> </label>
                                <ng-select
                                    [items]="years"
                                    bindLabel="years"
                                    placeholder="--Select Year--"
                                    bindValue="years"
                                    [searchable]="true"
                                    [clearable]="true"
                                    [virtualScroll]="true"
                                    class="custom-ng-select"
                                    formControlName="year"
                                    [(ngModel)]="selectedYear">
                                 </ng-select>
                                <div *ngIf="newPaperworkFileForm.get('year').invalid && newPaperworkFileForm.get('year').touched">
                                    <small *ngIf="newPaperworkFileForm.get('year').invalid && newPaperworkFileForm.get('year').touched" class="text-danger"> *Year is required</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" (click)="onNewPaperworkFile()"><span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
  <!-- /Add Invoice Modal -->

  <!-- Delete Invoice Modal -->
  <!-- <div class="modal custom-modal fade" id="delete_invoice" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Supplier</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a class="btn btn-primary continue-btn" (click)="onDelete()">Delete</a>
                        </div>
                        <div class="col-6">
                            <a data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div> -->
  <!-- /Delete Invoice Modal -->
  