<!-- Page Content -->
<div class="content container-fluid">
    <ng-http-loader></ng-http-loader>
    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Invoice</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item active">Invoice</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <a class="btn add-btn" data-toggle="modal" data-target="#add_invoice" (click)="resetForm()"><i
                        class="fa fa-plus"></i>
                    Add Invoice</a>
                <div class="view-icons">
                    <a routerLink="/invoice/invoicelist" class="list-view btn btn-link active"><i
                            class="fa fa-bars"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <!-- Search Filter -->
      <form (ngSubmit)="onSearch()" [formGroup]="searchForm">
          <div class="row filter-row">
              <div class="col-sm-6 col-md-3">
                  <div class="form-group form-focus">
                      <ng-select [items]="suppliers"
                          bindLabel="supplierName" placeholder="Search Company" bindValue="id" [searchable]="true"
                          [clearable]="true" [virtualScroll]="true" class="custom-ng-select"
                          formControlName="supplierId" [(ngModel)]="searchSupplierId"
                          (change)="rerender()">
                      </ng-select>
                  </div>
              </div>
              <div class="col-sm-6 col-md-3">
                  <div class="form-group form-focus">
                      <div class="cal-icon">
                          <input class="form-control floating datetimepicker" bsDatepicker type="text" formControlName="fromInvoiceDate"
                              [bsConfig]="{ adaptivePosition: true,containerClass: 'theme-red',
                              dateInputFormat: 'YYYY-MM-DD', isAnimated: true}"
                              [(ngModel)]="fromInvoiceDate" (focusout)="rerender()">
                      </div>
                      <label class="focus-label">From</label>
                  </div>
              </div>
              <div class="col-sm-6 col-md-3">
                  <div class="form-group form-focus">
                      <div class="cal-icon">
                          <input class="form-control floating datetimepicker" bsDatepicker formControlName="toInvoiceDate"
                              [bsConfig]="{ adaptivePosition: true,dateInputFormat: 'YYYY-MM-DD', todayHighlight:true, returnFocusToInput: true,isAnimated: true }"
                              [(ngModel)]="toInvoiceDate" (focusout)="rerender()">
                      </div>
                      <label class="focus-label">To</label>
                  </div>
              </div>
              <div class="col-sm-6 col-md-3">
                <button class="btn btn-success btn-block" type="submit">Search</button>
                  <!-- <a class="btn btn-success btn-block" type="submit" (click)="onSearch()"> Search </a> -->
              </div>
          </div>
      </form>
    <!-- Search Filter -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="datatable"
                    class="table table-striped custom-table datatable">
                    <thead>
                        <tr>
                            <th (click)="onTableHeaderClick(0, 'invoiceNumber')">Invoice Number</th>
                            <th (click)="onTableHeaderClick(0, 'supplierDetails')">Company Name</th>
                            <th (click)="onTableHeaderClick(1, 'invoiceDate')">Invoice Date</th>
                            <th (click)="onTableHeaderClick(3, 'term')">Term</th>
                            <th (click)="onTableHeaderClick(4, 'paymentDueDate')">Payment Due Date</th>
                            <th (click)="onTableHeaderClick(2, 'invoiceAmount')">Invoice Amount ($)</th>
                            <th (click)="onTableHeaderClick(4, 'creditAmount')">Credit Amount ($)</th>
                            <th (click)="onTableHeaderClick(4, 'netDue')">Net Due ($)</th>
                            <th (click)="onTableHeaderClick(4, 'chequeNumber')">Cheque Number</th>
                            <th (click)="onTableHeaderClick(4, 'paidDate')">Paid Date</th>
                            <!-- <th>Status</th> -->
                            <th class="text-right">Action</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="invoicesData">
                        <tr *ngFor="let invoice of invoicesData; let i = index">
                            <!-- <td>
                                <h2 class="table-avatar">
                                    <a class="avatar"><img
                                            src="assets/img/profiles/avatar-{{ i + 1 }}.jpg" alt=""></a>
                                    <a>{{supplier.supplierID}}</a>
                                </h2>
                            </td> -->
                            <td class="text-info">#{{invoice.invoiceNumber}}
                              <small class="block text-ellipsis">
                                <span class="badge bg-inverse-danger"> {{invoice.isPaid == true ? 'Paid' :'Unpaid'}}
                                </span>
                              </small>
                            </td>
                            <td>{{invoice.supplierName}}</td>
                            <td>{{invoice.invoiceDate}}</td>
                            <td>{{invoice.term}}</td>
                            <td>{{invoice.paymentDueDate ? invoice.paymentDueDate : 'N/A'}}</td>
                            <td>${{invoice.invoiceAmount}}</td>
                            <td>${{invoice.creditAmount}}</td>
                            <td>${{invoice.netDue}}</td>
                            <td>{{invoice.chequeNumber ? invoice.chequeNumber : 'N/A'}}</td>
                            <td>{{invoice.paidDate ? invoice.paidDate : 'N/A'}}</td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a class="action-icon dropdown-toggle" data-toggle="dropdown"
                                        aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" data-toggle="modal" data-target="#edit_invoice"
                                            (click)="onInvoice(invoice.id)"><i class="fa fa-pencil m-r-5"></i>
                                            Edit</a>
                                        <a class="dropdown-item" routerLink="/invoice/view-invoice/{{invoice.id}}">
                                                <i class="fa fa-eye m-r-5"></i>
                                            View</a>
                                        <a class="dropdown-item" data-toggle="modal" data-target="#delete_invoice"
                                            (click)="tempId = invoice.id"><i class="fa fa-trash-o m-r-5"></i>
                                            Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>
  <!-- /Page Content -->

  <!-- Add Invoice Modal -->
  <div id="add_invoice" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Invoice</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addInvoiceForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Company Name <span class="text-danger">*</span></label>
                                <ng-select [items]="suppliers"
                                          bindLabel="supplierName" placeholder="--Select--" bindValue="id" [searchable]="true"
                                          [clearable]="true" [virtualScroll]="true" class="custom-ng-select"
                                          formControlName="supplierDetails" [(ngModel)]="invoice.supplierDetails">
                                </ng-select>
                                <div
                                  *ngIf="addInvoiceForm.get('supplierDetails').invalid && addInvoiceForm.get('supplierDetails').touched">
                                  <small
                                      *ngIf="addInvoiceForm.get('supplierDetails').invalid && addInvoiceForm.get('supplierDetails').touched"
                                      class="text-danger"> *Company is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Invoice Number <span class="text-danger">*</span></label>
                                <input class="form-control" type="text"
                                  [class.invalid]="addInvoiceForm.get('invoiceNumber').invalid && addInvoiceForm.get('invoiceNumber').touched"
                                    formControlName="invoiceNumber" (keydown.space)="$event.preventDefault()">
                                <div
                                    *ngIf="addInvoiceForm.get('invoiceNumber').invalid && addInvoiceForm.get('invoiceNumber').touched">
                                    <small
                                        *ngIf="addInvoiceForm.get('invoiceNumber').invalid && addInvoiceForm.get('invoiceNumber').touched"
                                        class="text-danger"> *Invoice number is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Invoice Date <span class="text-danger">*</span></label>
                                <div class="cal-icon"><input class="form-control datetimepicker" placeholder="mm-dd-yyyy"
                                  bsDatepicker [bsConfig]="{ dateInputFormat: 'MM-DD-YYYY',  returnFocusToInput: true,isAnimated: true }"
                                  [class.invalid]="addInvoiceForm.get('invoiceDate').invalid && addInvoiceForm.get('invoiceDate').touched"
                                  formControlName="invoiceDate" [(ngModel)]="invoice.invoiceDate" (ngModelChange)="paymentDueDateCalculation($event)">
                              <div
                                  *ngIf="addInvoiceForm.get('invoiceDate').invalid && addInvoiceForm.get('invoiceDate').touched">
                                  <small
                                      *ngIf="addInvoiceForm.get('invoiceDate').invalid && addInvoiceForm.get('invoiceDate').touched"
                                      class="text-danger"> *Invoice date is required</small>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Term <span class="text-danger">*</span></label>
                                <ng-select [items]="term"
                                  bindLabel="value" placeholder="--Select--" bindValue="value" [searchable]="true"
                                  [clearable]="false" [virtualScroll]="true" class="custom-ng-select"
                                  formControlName="term" [(ngModel)]="invoice.term" (ngModelChange)="paymentDueDateCalculation($event)">
                                </ng-select>
                              <div
                                  *ngIf="addInvoiceForm.get('term').invalid && addInvoiceForm.get('term').touched">
                                  <small
                                      *ngIf="addInvoiceForm.get('term').invalid && addInvoiceForm.get('term').touched"
                                      class="text-danger"> *Term is required</small>
                              </div>
                            </div>
                          </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Invoice Amount <span class="text-danger">*</span></label>
                                <input class="form-control" type="text" [(ngModel)]="formattedInvoiceAmount" placeholder="$" (input)="formatInvoiceAmountCurrency()"
                                  [class.invalid]="addInvoiceForm.get('invoiceAmount').invalid && addInvoiceForm.get('invoiceAmount').touched"
                                  formControlName="invoiceAmount" appTwoDigitDecimaNumber>
                                <!-- <input class="form-control" type="text" [(ngModel)]="invoice.invoiceAmount" placeholder="$" value="$"
                                  [class.invalid]="addInvoiceForm.get('invoiceAmount').invalid && addInvoiceForm.get('invoiceAmount').touched"
                                  formControlName="invoiceAmount" appTwoDigitDecimaNumber (ngModelChange)="netDueCalculation($event)"> -->
                              <div
                                  *ngIf="addInvoiceForm.get('invoiceAmount').invalid && addInvoiceForm.get('invoiceAmount').touched">
                                  <small
                                      *ngIf="addInvoiceForm.get('invoiceAmount').invalid && addInvoiceForm.get('invoiceAmount').touched"
                                      class="text-danger"> *Invoice amount is required</small>
                              </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                              <label class="col-form-label">Credit Amount <span class="text-danger">*</span></label>
                              <small class="text-info"> ( If there is no credit amount, Enter 0 )</small>
                              <input class="form-control" type="text" [(ngModel)]="formattedCreditAmount" placeholder="$" (input)="formatCreditAmountCurrency()"
                              [class.invalid]="addInvoiceForm.get('creditAmount').invalid && addInvoiceForm.get('creditAmount').touched"
                              formControlName="creditAmount" appTwoDigitDecimaNumber>
                              <!-- <input class="form-control" type="text" [(ngModel)]="invoice.creditAmount"
                                [class.invalid]="addInvoiceForm.get('creditAmount').invalid && addInvoiceForm.get('creditAmount').touched"
                                formControlName="creditAmount" appTwoDigitDecimaNumber (ngModelChange)="netDueCalculation($event)"> -->
                            <div
                                *ngIf="addInvoiceForm.get('creditAmount').invalid && addInvoiceForm.get('creditAmount').touched">
                                <small
                                    *ngIf="addInvoiceForm.get('creditAmount').invalid && addInvoiceForm.get('creditAmount').touched"
                                    class="text-danger"> *Credit amount is required</small>
                            </div>
                            <div *ngIf="creditAmount > invoiceAmount">
                                <small *ngIf="creditAmount > invoiceAmount"
                                    class="text-danger"> *Credit amount is greater than invoice amount</small>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6" *ngIf="invoice.term === codTerm">
                            <div class="form-group">
                              <label class="col-form-label">COD in cheque </label>
                              <div class="custom-control custom-switch">
                                  <input type="checkbox" formControlName="codIncheque" [(ngModel)]="codInCheque" (change)="setChequeNumber()"
                                  class="custom-control-input" id="customSwitch3" checked="">
                                  <label class="custom-control-label" for="customSwitch3"></label>
                              </div>
                            </div>
                        </div>
                        <div class="col-md-6" *ngIf="invoice.term != codTerm ">
                          <div class="form-group">
                              <label class="col-form-label">Payment Due Date <span class="text-danger">*</span></label>
                              <div class="cal-icon">
                                <input class="form-control datetimepicker" bsDatepicker type="text"
                                 [bsConfig]="{ dateInputFormat: 'MM-DD-YYYY',  returnFocusToInput: true,isAnimated: true }"
                                [class.invalid]="addInvoiceForm.get('paymentDueDate').invalid && addInvoiceForm.get('paymentDueDate').touched"
                                formControlName="paymentDueDate" placeholder="( Invoice Date + Term )" [ngModel]="invoice.paymentDueDate">
                            <div
                                *ngIf="addInvoiceForm.get('paymentDueDate').invalid && addInvoiceForm.get('paymentDueDate').touched">
                                <small
                                    *ngIf="addInvoiceForm.get('paymentDueDate').invalid && addInvoiceForm.get('paymentDueDate').touched"
                                    class="text-danger"> *Payment due date is required</small>
                            </div>
                          </div>
                        </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                              <label class="col-form-label">Net Due <span class="text-danger">*</span></label>
                              <input class="form-control" type="text" appTwoDigitDecimaNumber [(ngModel)]="formattedNeDue" placeholder="$" (input)="formatNetDueCurrency()"
                                [class.invalid]="addInvoiceForm.get('netDue').invalid && addInvoiceForm.get('netDue').touched"
                                formControlName="netDue">
                              <!-- <input class="form-control" type="text" appTwoDigitDecimaNumber [(ngModel)]="invoice.netDue"
                                [class.invalid]="addInvoiceForm.get('netDue').invalid && addInvoiceForm.get('netDue').touched"
                                formControlName="netDue" placeholder="( Invoice Amount - Credit Amount )"> -->
                            <div
                                *ngIf="addInvoiceForm.get('netDue').invalid && addInvoiceForm.get('netDue').touched">
                                <small
                                    *ngIf="addInvoiceForm.get('netDue').invalid && addInvoiceForm.get('netDue').touched"
                                    class="text-danger"> *Net is required</small>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="col-form-label">Paid </label>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" formControlName="isPaid" [(ngModel)]="invoice.isPaid"
                                class="custom-control-input" id="customSwitch2" checked="">
                                <label class="custom-control-label" for="customSwitch2"></label>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6" *ngIf="invoice.isPaid || codInCheque">
                            <div class="form-group">
                                <label class="col-form-label">Cheque Number <span *ngIf="codInCheque" class="text-danger">*</span></label>
                                <input class="form-control" type="text" formControlName="chequeNumber">
                              <div
                                  *ngIf="addInvoiceForm.get('chequeNumber').invalid && addInvoiceForm.get('chequeNumber').touched">
                                  <small
                                      *ngIf="addInvoiceForm.get('chequeNumber').invalid && addInvoiceForm.get('chequeNumber').touched"
                                      class="text-danger"> *Cheque Number is required</small>
                              </div>
                            </div>
                          </div>
                        <div class="col-md-6" *ngIf="invoice.isPaid">
                          <div class="form-group">
                              <label class="col-form-label">Paid Date <span class="text-danger">*</span></label>
                              <div class="cal-icon"><input class="form-control datetimepicker" bsDatepicker type="text" placeholder="mm-dd-yyyy"
                                  [bsConfig]="{ dateInputFormat: 'MM-DD-YYYY',  returnFocusToInput: true,isAnimated: true }"
                                [class.invalid]="addInvoiceForm.get('paidDate').invalid && addInvoiceForm.get('paidDate').touched"
                                formControlName="paidDate">
                            <div
                                *ngIf="addInvoiceForm.get('paidDate').invalid && addInvoiceForm.get('paidDate').touched">
                                <small
                                    *ngIf="addInvoiceForm.get('paidDate').invalid && addInvoiceForm.get('paidDate').touched"
                                    class="text-danger"> *Paid date is required</small>
                            </div>
                          </div>
                        </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Invoice Description</label>
                                <textarea rows="4" class="form-control"
                                [class.invalid]="addInvoiceForm.get('invoiceDesc').invalid && addInvoiceForm.get('invoiceDesc').touched"
                                formControlName="invoiceDesc"></textarea>
                              <div
                                  *ngIf="addInvoiceForm.get('invoiceDesc').invalid && addInvoiceForm.get('invoiceDesc').touched">
                                  <small
                                      *ngIf="addInvoiceForm.get('invoiceDesc').invalid && addInvoiceForm.get('invoiceDesc').touched"
                                      class="text-danger"> *Provide valid data</small>
                              </div>
                            </div>
                        </div>

                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" (click)="onAddInvoice()">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
  <!-- /Add Invoice Modal -->

  <!-- Edit Invoice Modal -->
  <div id="edit_invoice" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Invoice</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="editInvoiceForm">
                  <div class="row">
                      <div class="col-md-6">
                          <div class="form-group">
                              <label class="col-form-label">Company Name <span class="text-danger">*</span></label>
                              <ng-select [items]="suppliers"
                                        bindLabel="supplierName" placeholder="--Select--" bindValue="id" [searchable]="true"
                                        [clearable]="true" [virtualScroll]="true" class="custom-ng-select"
                                        formControlName="editSupplierDetails" [(ngModel)]="invoice.supplierDetails">
                              </ng-select>
                              <div
                                *ngIf="editInvoiceForm.get('editSupplierDetails').invalid && editInvoiceForm.get('editSupplierDetails').touched">
                                <small
                                    *ngIf="editInvoiceForm.get('editSupplierDetails').invalid && editInvoiceForm.get('editSupplierDetails').touched"
                                    class="text-danger"> *Company is required</small>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-group">
                              <label class="col-form-label">Invoice Number <span class="text-danger">*</span></label>
                              <input class="form-control" type="text"
                                [class.invalid]="editInvoiceForm.get('editInvoiceNumber').invalid && editInvoiceForm.get('editInvoiceNumber').touched"
                                  formControlName="editInvoiceNumber" (keydown.space)="$event.preventDefault()">
                              <div
                                  *ngIf="editInvoiceForm.get('editInvoiceNumber').invalid && editInvoiceForm.get('editInvoiceNumber').touched">
                                  <small
                                      *ngIf="editInvoiceForm.get('editInvoiceNumber').invalid && editInvoiceForm.get('editInvoiceNumber').touched"
                                      class="text-danger"> *Invoice number is required</small>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-group">
                              <label class="col-form-label">Invoice Date <span class="text-danger">*</span></label>
                              <div class="cal-icon"><input class="form-control datetimepicker" placeholder="mm-dd-yyyy"
                                bsDatepicker [bsConfig]="{ dateInputFormat: 'MM-DD-YYYY',  returnFocusToInput: true,isAnimated: true }"
                                [class.invalid]="editInvoiceForm.get('editInvoiceDate').invalid && editInvoiceForm.get('editInvoiceDate').touched"
                                formControlName="editInvoiceDate" [(ngModel)]="invoice.invoiceDate" (ngModelChange)="paymentDueDateCalculation($event)">
                            <div
                                *ngIf="editInvoiceForm.get('editInvoiceDate').invalid && editInvoiceForm.get('editInvoiceDate').touched">
                                <small
                                    *ngIf="editInvoiceForm.get('editInvoiceDate').invalid && editInvoiceForm.get('editInvoiceDate').touched"
                                    class="text-danger"> *Invoice date is required</small>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-form-label">Term <span class="text-danger">*</span></label>
                            <ng-select [items]="term"
                              bindLabel="value" placeholder="--Select--" bindValue="value" [searchable]="true"
                              [clearable]="false" [virtualScroll]="true" class="custom-ng-select"
                              formControlName="editTerm" [(ngModel)]="invoice.term" (ngModelChange)="paymentDueDateCalculation($event)">
                            </ng-select>
                          <div
                              *ngIf="editInvoiceForm.get('editTerm').invalid && editInvoiceForm.get('editTerm').touched">
                              <small
                                  *ngIf="editInvoiceForm.get('editTerm').invalid && editInvoiceForm.get('editTerm').touched"
                                  class="text-danger"> *Term is required</small>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-group">
                              <label class="col-form-label">Invoice Amount <span class="text-danger">*</span></label>
                              <input class="form-control" type="text" [(ngModel)]="formattedInvoiceAmount" placeholder="$" (input)="formatInvoiceAmountCurrency()"
                              [class.invalid]="editInvoiceForm.get('editInvoiceAmount').invalid && editInvoiceForm.get('editInvoiceAmount').touched"
                              formControlName="editInvoiceAmount" appTwoDigitDecimaNumber>
                              <!-- <input class="form-control" type="text" [(ngModel)]="invoice.invoiceAmount"
                                [class.invalid]="editInvoiceForm.get('editInvoiceAmount').invalid && editInvoiceForm.get('editInvoiceAmount').touched"
                                formControlName="editInvoiceAmount" appTwoDigitDecimaNumber (ngModelChange)="netDueCalculation($event)"> -->
                            <div
                                *ngIf="editInvoiceForm.get('editInvoiceAmount').invalid && editInvoiceForm.get('editInvoiceAmount').touched">
                                <small
                                    *ngIf="editInvoiceForm.get('editInvoiceAmount').invalid && editInvoiceForm.get('editInvoiceAmount').touched"
                                    class="text-danger"> *Invoice amount is required</small>
                            </div>
                          </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-form-label">Credit Amount <span class="text-danger">*</span></label>
                            <small class="text-info"> ( If there is no credit amount, Type ' 0 ')</small>
                            <input class="form-control" type="text" [(ngModel)]="formattedCreditAmount" placeholder="$" (input)="formatCreditAmountCurrency()"
                            [class.invalid]="editInvoiceForm.get('editCreditAmount').invalid && editInvoiceForm.get('editCreditAmount').touched"
                            formControlName="editCreditAmount" appTwoDigitDecimaNumber>
                            <!-- <input class="form-control" type="text" [(ngModel)]="invoice.creditAmount"
                              [class.invalid]="editInvoiceForm.get('editCreditAmount').invalid && editInvoiceForm.get('editCreditAmount').touched"
                              formControlName="editCreditAmount" appTwoDigitDecimaNumber (ngModelChange)="netDueCalculation($event)"> -->
                          <div
                              *ngIf="editInvoiceForm.get('editCreditAmount').invalid && editInvoiceForm.get('editCreditAmount').touched">
                              <small
                                  *ngIf="editInvoiceForm.get('editCreditAmount').invalid && editInvoiceForm.get('editCreditAmount').touched"
                                  class="text-danger"> *Credit amount is required</small>
                          </div>
                          <div *ngIf="creditAmount > invoiceAmount">
                            <small *ngIf="creditAmount > invoiceAmount"
                                class="text-danger"> *Credit amount is greater than invoice amount</small>
                        </div>
                        </div>
                      </div>
                      <div class="col-md-6" *ngIf="invoice.term === codTerm">
                        <div class="form-group">
                          <label class="col-form-label">COD in cheque </label>
                          <div class="custom-control custom-switch">
                              <input type="checkbox" formControlName="editCodIncheque" [(ngModel)]="codInCheque" (change)="setChequeNumber()"
                              class="custom-control-input" id="customSwitch4" checked="">
                              <label class="custom-control-label" for="customSwitch4"></label>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-6" *ngIf="invoice.term != codTerm ">
                        <div class="form-group">
                            <label class="col-form-label">Payment Due Date <span class="text-danger">*</span></label>
                            <div class="cal-icon">
                              <input class="form-control datetimepicker" bsDatepicker type="text"
                               [bsConfig]="{ dateInputFormat: 'MM-DD-YYYY',  returnFocusToInput: true,isAnimated: true }"
                              [class.invalid]="editInvoiceForm.get('editPaymentDueDate').invalid && editInvoiceForm.get('editPaymentDueDate').touched"
                              formControlName="editPaymentDueDate" placeholder="( Invoice Date + Term )"
                              [ngModel]="invoice.paymentDueDate">
                          <div
                              *ngIf="editInvoiceForm.get('editPaymentDueDate').invalid && editInvoiceForm.get('editPaymentDueDate').touched">
                              <small
                                  *ngIf="editInvoiceForm.get('editPaymentDueDate').invalid && editInvoiceForm.get('editPaymentDueDate').touched"
                                  class="text-danger"> *Payment due date is required</small>
                          </div>
                        </div>
                      </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-form-label">Net Due <span class="text-danger">*</span></label>
                            <input class="form-control" type="text" appTwoDigitDecimaNumber [(ngModel)]="formattedNeDue" placeholder="$" (input)="formatNetDueCurrency()"
                              [class.invalid]="editInvoiceForm.get('editNetDue').invalid && editInvoiceForm.get('editNetDue').touched"
                              formControlName="editNetDue" placeholder="( Invoice Amount - Credit Amount )">
                            <!-- <input class="form-control" type="text" appTwoDigitDecimaNumber [(ngModel)]="invoice.netDue"
                              [class.invalid]="editInvoiceForm.get('editNetDue').invalid && editInvoiceForm.get('editNetDue').touched"
                              formControlName="editNetDue" placeholder="( Invoice Amount - Credit Amount )"> -->
                          <div
                              *ngIf="editInvoiceForm.get('editNetDue').invalid && editInvoiceForm.get('editNetDue').touched">
                              <small
                                  *ngIf="editInvoiceForm.get('editNetDue').invalid && editInvoiceForm.get('editNetDue').touched"
                                  class="text-danger"> *Net is required</small>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="col-form-label">Paid </label>
                          <div class="custom-control custom-switch">
                              <input type="checkbox" formControlName="editIsPaid" [(ngModel)]="invoice.isPaid"
                              class="custom-control-input" id="customSwitch2" checked="">
                              <label class="custom-control-label" for="customSwitch2"></label>
                            </div>
                        </div>
                      </div>
                      <div class="col-md-6" *ngIf="invoice.isPaid || codInCheque">
                        <div class="form-group">
                            <label class="col-form-label">Cheque Number </label>
                            <input class="form-control" type="text" formControlName="editChequeNumber">
                          <div
                              *ngIf="editInvoiceForm.get('editChequeNumber').invalid && editInvoiceForm.get('editChequeNumber').touched">
                              <small
                                  *ngIf="editInvoiceForm.get('editChequeNumber').invalid && editInvoiceForm.get('editChequeNumber').touched"
                                  class="text-danger"> *Cheque Number is required</small>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6" *ngIf="invoice.isPaid">
                        <div class="form-group">
                            <label class="col-form-label">Paid Date <span class="text-danger">*</span></label>
                            <div class="cal-icon"><input class="form-control datetimepicker" bsDatepicker type="text" placeholder="mm-dd-yyyy"
                                [bsConfig]="{ dateInputFormat: 'MM-DD-YYYY',  returnFocusToInput: true,isAnimated: true }"
                              [class.invalid]="editInvoiceForm.get('editPaidDate').invalid && editInvoiceForm.get('editPaidDate').touched"
                              formControlName="editPaidDate">
                          <div
                              *ngIf="editInvoiceForm.get('editPaidDate').invalid && editInvoiceForm.get('editPaidDate').touched">
                              <small
                                  *ngIf="editInvoiceForm.get('editPaidDate').invalid && editInvoiceForm.get('editPaidDate').touched"
                                  class="text-danger"> *Paid date is required</small>
                          </div>
                        </div>
                      </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-group">
                              <label class="col-form-label">Invoice Description</label>
                              <textarea rows="4" class="form-control"
                              [class.invalid]="editInvoiceForm.get('editInvoiceDesc').invalid && editInvoiceForm.get('editInvoiceDesc').touched"
                              formControlName="editInvoiceDesc"></textarea>
                            <div
                                *ngIf="editInvoiceForm.get('editInvoiceDesc').invalid && editInvoiceForm.get('editInvoiceDesc').touched">
                                <small
                                    *ngIf="editInvoiceForm.get('editInvoiceDesc').invalid && editInvoiceForm.get('editInvoiceDesc').touched"
                                    class="text-danger"> *Provide valid data</small>
                            </div>
                          </div>
                      </div>

                  </div>
                  <div class="submit-section">
                      <button class="btn btn-primary submit-btn" (click)="onEditInvoice()">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Submit</button>
                  </div>
              </form>
          </div>
        </div>
    </div>
  </div>
  <!-- /Edit Invoice Modal -->

  <!-- Delete Invoice Modal -->
  <div class="modal custom-modal fade" id="delete_invoice" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Supplier</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a  class="btn btn-primary continue-btn"
                                (click)="onDelete()">Delete</a>
                        </div>
                        <div class="col-6">
                            <a  data-dismiss="modal"
                                class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- /Delete Invoice Modal -->
