<!-- Page Content -->
<div class="content container-fluid">
    <ng-http-loader></ng-http-loader>
    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Paperwork for {{paperworkObj.month}}, {{paperworkObj.year}}</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a routerLink="/dashboard">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/paperworks/paperwork-list">Paperwork</a>
                    </li>
                    <li class="breadcrumb-item active">add</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <div>
                    Completed <span class="fa fa-circle-thin" style="background-color: rgb(206, 21, 21);"></span> 
                    Current <span style="background-color: rgb(14, 202, 139);" class="fa fa-circle-thin"></span>   
                    Pending <span class="fa fa-circle-thin"></span>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header -->
    <form (ngSubmit)="onAdd()" [formGroup]="addPaperworkBreakdownForm"> 
        <div class="row filter-row">
            <div class="col-sm-6 col-md-3">
                <div class="form-group form-focus">
                    <div class="cal-icon">
                        <input
                            class="form-control floating datetimepicker"
                            bsDatepicker
                            formControlName="paperworkDate"
                            [bsConfig]="{ adaptivePosition: true,dateInputFormat: 'YYYY-MM-DD', todayHighlight:true, returnFocusToInput: true,isAnimated: true }"
                            [class.invalid]="addPaperworkBreakdownForm.get('paperworkDate').invalid && addPaperworkBreakdownForm.get('paperworkDate').touched"
                            [(ngModel)]="paperworkBreakdown.paperworkDate"
                            (focusout)="rerender()"
                        />
                        <div *ngIf="addPaperworkBreakdownForm.get('paperworkDate').invalid && addPaperworkBreakdownForm.get('paperworkDate').touched">
                            <small *ngIf="addPaperworkBreakdownForm.get('paperworkDate').invalid && addPaperworkBreakdownForm.get('paperworkDate').touched" class="text-danger"> *Date is required</small>
                        </div>
                    </div>
                    <label class="focus-label">Select Date<span class="text-danger">*</span></label>
                </div>
            </div>
            <div class="col-sm-6 col-md-9">
                <div class="form-group">
                    <div class="table-responsive">
                        <table class="table table-bordered mb-0">
                            <tbody>
                                <tr>
                                    <td *ngFor="let day of first10; let i = index" style="text-align: center; vertical-align: middle;">
                                        <a (click)="convertToPaperworkDate(day)" style="cursor: pointer;">
                                            <!-- margin: 0; color: white; -->
                                            <p style="background-color: aquamarine; font-size: 20px;">{{day}}</p>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td *ngFor="let day of second10; let i = index" style="text-align: center; vertical-align: middle;">
                                        <a (click)="convertToPaperworkDate(day)" style="cursor: pointer;">
                                            <p style="background-color: rgb(206, 21, 21); font-size: 20px;">{{day}}</p>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td *ngFor="let day of third10; let i = index" style="text-align: center; vertical-align: middle;">
                                        <a (click)="convertToPaperworkDate(day)" style="cursor: pointer;">
                                            <p style="background-color: rgb(14, 202, 139); font-size: 20px;">{{day}}</p>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="faq-card">

                <div class="card">
                    <div class="card-header" style="background-color: rgb(20% 27% 30%);">
                        <h4 class="card-title">
                            <a class="collapsed" data-toggle="collapse" href="#collapseOne" style="color: white;">Sales Record (Incoming)</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="card-collapse collapse show">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-form-label">Merchant Sale<span class="text-danger">*</span> </label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input
                                                class="form-control"
                                                type="number"
                                                min="0"
                                                [(ngModel)]="paperworkBreakdown.merchantSale"
                                                (input)="formatAmountCurrency()"
                                                [class.invalid]="addPaperworkBreakdownForm.get('merchantSale').invalid && addPaperworkBreakdownForm.get('merchantSale').touched"
                                                formControlName="merchantSale"/>
                                            <div class="input-group-append">
                                                <span class="input-group-text">.00</span>
                                            </div>
                                        </div>
                                        <div *ngIf="addPaperworkBreakdownForm.get('merchantSale').invalid && addPaperworkBreakdownForm.get('merchantSale').touched">
                                            <small *ngIf="addPaperworkBreakdownForm.get('merchantSale').invalid && addPaperworkBreakdownForm.get('merchantSale').touched" class="text-danger"> *Merchant sales is required</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-form-label">Inside Sales<span class="text-danger">*</span> </label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input
                                                class="form-control"
                                                type="number"
                                                min="0"
                                                [(ngModel)]="paperworkBreakdown.insideSales"
                                                (input)="formatAmountCurrency()"
                                                (ngModelChange)="checkMerchantAndInsideSaleAmt()"
                                                [class.invalid]="addPaperworkBreakdownForm.get('insideSales').invalid && addPaperworkBreakdownForm.get('insideSales').touched"
                                                formControlName="insideSales"/>
                                            <div class="input-group-append">
                                                <span class="input-group-text">.00</span>
                                            </div>
                                        </div>
                                        <div *ngIf="addPaperworkBreakdownForm.get('insideSales').invalid && addPaperworkBreakdownForm.get('insideSales').touched">
                                            <small *ngIf="addPaperworkBreakdownForm.get('insideSales').invalid && addPaperworkBreakdownForm.get('insideSales').touched" class="text-danger"> *Inside sales is required</small>
                                        </div>
                                        <div *ngIf="paperworkBreakdown.insideSales > paperworkBreakdown.merchantSale">
                                            <small *ngIf="creditAmount > invoiceAmount" class="text-danger"> *Inside sales can't be greater than merchant sales</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-form-label">Sales Tax </label>
                                        <small class="text-info"> (Merchant Sales - Inside Sales )</small>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input
                                                class="form-control"
                                                type="number"
                                                min="0"
                                                [(ngModel)]="paperworkBreakdown.salesTax"
                                                (input)="formatAmountCurrency()"
                                                formControlName="salesTax"/>
                                            <div class="input-group-append">
                                                <span class="input-group-text">.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-form-label">Total </label>
                                        <small class="text-info"> (Inside Sales + Sales Tax )</small>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input
                                                class="form-control"
                                                type="number"
                                                min="0"
                                                [(ngModel)]="paperworkBreakdown.totalSalesRecord"
                                                (input)="formatAmountCurrency()"
                                                formControlName="totalSalesRecord"/>
                                            <div class="input-group-append">
                                                <span class="input-group-text">.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" style="background-color: rgb(20% 27% 30%);">
                        <h4 class="card-title">
                            <a class="collapsed" data-toggle="collapse" href="#collapseTwo" style="color: white;">Inside Sales Breakdown</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="card-collapse collapse show">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-form-label">Credit Card </label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input
                                                class="form-control"
                                                type="number"
                                                min="0"
                                                [(ngModel)]="paperworkBreakdown.creditCard"
                                                (input)="formatAmountCurrency()"
                                                formControlName="creditCard"/>
                                            <div class="input-group-append">
                                                <span class="input-group-text">.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-form-label">Debit Card </label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input
                                                class="form-control"
                                                type="number"
                                                min="0"
                                                [(ngModel)]="paperworkBreakdown.debitCard"
                                                (input)="formatAmountCurrency()"
                                                formControlName="debitCard"/>
                                            <div class="input-group-append">
                                                <span class="input-group-text">.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-form-label">Total Credit/Debit Card </label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input
                                                class="form-control"
                                                type="number"
                                                min="0"
                                                [(ngModel)]="paperworkBreakdown.totalCreditDebitCard"
                                                (input)="formatAmountCurrency()"
                                                formControlName="totalCreditDebitCard"/>
                                            <div class="input-group-append">
                                                <span class="input-group-text">.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-form-label">EBT </label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input
                                                class="form-control"
                                                type="number"
                                                min="0"
                                                [(ngModel)]="paperworkBreakdown.ebt"
                                                (input)="formatAmountCurrency()"
                                                formControlName="ebt"/>
                                            <div class="input-group-append">
                                                <span class="input-group-text">.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-form-label">Expense </label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input
                                                class="form-control"
                                                type="number"
                                                min="0"
                                                [(ngModel)]="paperworkBreakdown.expense"
                                                (input)="formatAmountCurrency()"
                                                formControlName="expense"/>
                                            <div class="input-group-append">
                                                <span class="input-group-text">.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-form-label">Office Expenses </label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input
                                                class="form-control"
                                                type="number"
                                                min="0"
                                                [(ngModel)]="paperworkBreakdown.officeExpense"
                                                (input)="formatAmountCurrency()"
                                                formControlName="officeExpense"/>
                                            <div class="input-group-append">
                                                <span class="input-group-text">.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-form-label">Trust Fund/Checks REV. </label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input
                                                class="form-control"
                                                type="number"
                                                min="0"
                                                [(ngModel)]="paperworkBreakdown.trustFund"
                                                (input)="formatAmountCurrency()"
                                                formControlName="trustFund"/>
                                            <div class="input-group-append">
                                                <span class="input-group-text">.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-form-label">House A/C </label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input
                                                class="form-control"
                                                type="number"
                                                min="0"
                                                [(ngModel)]="paperworkBreakdown.houseAc"
                                                (input)="formatAmountCurrency()"
                                                formControlName="houseAc"/>
                                            <div class="input-group-append">
                                                <span class="input-group-text">.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-form-label">Store Deposit </label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input
                                                class="form-control"
                                                type="number"
                                                min="0"
                                                [(ngModel)]="paperworkBreakdown.storeDeposit"
                                                (input)="formatAmountCurrency()"
                                                formControlName="storeDeposit"/>
                                            <div class="input-group-append">
                                                <span class="input-group-text">.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-form-label">Total </label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input
                                                class="form-control"
                                                type="number"
                                                min="0"
                                                [(ngModel)]="paperworkBreakdown.totalInsideSalesBreakdown"
                                                (input)="formatAmountCurrency()"
                                                formControlName="totalInsideSalesBreakdown"/>
                                            <div class="input-group-append">
                                                <span class="input-group-text">.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" style="background-color: rgb(20% 27% 30%);">
                        <h4 class="card-title">
                            <a class="collapsed" data-toggle="collapse" href="#collapseThree" style="color: white;">Cash Purchase</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="card-collapse collapse show">
                        <div class="card-body">
                            <div class="row">
                                <div  class="col-md-12" formArrayName="items">
                                    <div class="form-group" *ngFor="let item of items.controls; let i = index" [formGroupName]="i"
                                    style="display: flex; gap:10px; margin-bottom: 10px;">
                                        <div class="row row-sm">
                                            <button (click)="addItems()" class="btn btn-primary btn-block" type="button"><i
                                                class="fa fa-plus"></i></button>
                                        </div>
                                            <input class="form-control" formControlName="itemName" placeholder="Item Name" type="text"/>
                                            <!-- <input class="form-control" formControlName="cashPurchaseAmount"  placeholder="Amount" type="text"/> -->
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">$</span>
                                                </div>
                                                <input
                                                    class="form-control"
                                                    type="number"
                                                    placeholder="Amount"
                                                    min="0"
                                                    (input)="formatAmountCurrency()"
                                                    formControlName="cashPurchaseAmount"/>
                                                <div class="input-group-append">
                                                    <span class="input-group-text">.00</span>
                                                </div>
                                            </div>
                                            <div class="row row-sm">
                                                <button *ngIf="items?.length > 1" (click)="deleteItem(i)"  class="btn btn-danger btn-block set-btn" type="button"><i
                                                class="fa fa-trash-o"></i></button>
                                            </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group"> 
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-form-label">Total</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input
                                                class="form-control"
                                                type="number"
                                                [(ngModel)]="paperworkBreakdown.totalCashPurchase"
                                                placeholder="Total"
                                                min="0"
                                                (input)="formatAmountCurrency()"
                                                formControlName="totalCashPurchase"/>
                                            <div class="input-group-append">
                                                <span class="input-group-text">.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" style="background-color: rgb(20% 27% 30%);">
                        <h4 class="card-title">
                            <a class="collapsed" data-toggle="collapse" href="#collapseFour" style="color: white;">Cash Over/Short</a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="card-collapse collapse show">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-form-label">Total Inside Sales </label>
                                        <small class="text-info"> (Total Inside Sales Breakdown + Total Cash Purchase )</small>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input
                                                class="form-control"
                                                type="number"
                                                [(ngModel)]="paperworkBreakdown.totalInsideSales"
                                                placeholder="Amount"
                                                min="0"
                                                (input)="formatAmountCurrency()"
                                                formControlName="totalInsideSales"/>
                                            <div class="input-group-append">
                                                <span class="input-group-text">.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-form-label">Total Sales Record </label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input
                                                class="form-control"
                                                type="number"
                                                [(ngModel)]="paperworkBreakdown.totalSalesRecord"
                                                placeholder="Amount"
                                                min="0"
                                                (input)="formatAmountCurrency()"
                                                formControlName="totalSalesRecord"/>
                                            <div class="input-group-append">
                                                <span class="input-group-text">.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-form-label">Over/Short </label>
                                        <small class="text-info"> (Total Inside Sales - Total Sales Record )</small>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input
                                                class="form-control"
                                                type="number"
                                                [(ngModel)]="paperworkBreakdown.cashOverShort"
                                                placeholder="Amount"
                                                min="0"
                                                (input)="formatAmountCurrency()"
                                                formControlName="cashOverShort"/>
                                            <div class="input-group-append">
                                                <span class="input-group-text">.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-form-label">Notes </label>
                                        <textarea rows="4" class="form-control"  formControlName="notes" [(ngModel)]="paperworkBreakdown.notes"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="submit-section">
            <button class="btn btn-primary submit-btn"><span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> Submit</button>
        </div>
    </form>




</div>
    <!-- /Page Header -->