.content {
	padding: 30px;
}
.dataTables_empty {
	display: none;
  }
  ::ng-deep table.dataTable td.dataTables_empty {
	display: none;
}
.ng-select.custom-ng-select .ng-select-container {
  border-color: #667eea;
  border-left: 3px solid #667eea;
  box-shadow: none;
  height: 43px;
}
.e-calendar {
  background-color: peachpuff;
  /* border: 3px solid red; */
}

/* Change selected date color when focusing */
.e-calendar .e-content td.e-selected span.e-day,
.e-bigger.e-small .e-calendar .e-content td.e-selected span.e-day {
  background-color: #20e316;
}
/* Change selected date color when hovering */
.e-calendar .e-content td.e-today.e-selected:hover span.e-day,
.e-calendar .e-content td.e-selected:hover span.e-day,
.e-calendar .e-content td.e-selected.e-focused-date span.e-day,
.e-bigger.e-small .e-calendar .e-content td.e-today.e-selected:hover span.e-day,
.e-bigger.e-small .e-calendar .e-content td.e-selected:hover span.e-day,
.e-bigger.e-small  .e-calendar  .e-content  td.e-selected.e-focused-date
  span.e-day {
  background-color: #34b511;
}

.red-input-group .input-group-text, .red-input-group .form-control {
  border-color: red;
  color: red;
}

.red-input-group .form-control:focus {
  border-color: red;
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}

.red-input {
  border-color: red;
  color: white;
  background-color: red;
}

.red-input:focus {
  border-color: white;
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}
