<!-- Page Content -->
<div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">Highlights</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item active">Dashboard</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-md-6 col-sm-6 col-lg-6 ">
            <a routerLink="/invoice/invoicelist">
            <div class="card dash-widget">
                <div class="card-body">
                    <span class="dash-widget-icon"><i class="fa fa-files-o"></i></span>
                    <div class="dash-widget-info">
                        <h3>{{totalNoOfinvoices}}</h3>
                        <span style="color: black;">Invoices</span>
                    </div>
                </div>
            </div>
        </a>
        </div>

        <div class="col-md-6 col-sm-6 col-lg-6 ">
          <a routerLink="/suppliers/supplierslist" >
            <div class="card dash-widget">
                <div class="card-body">
                    <span class="dash-widget-icon"><i class="fa fa-users"></i></span>
                    <div class="dash-widget-info">
                        <h3>{{totalNoOfSuppliers}}</h3>
                        <span style="color: black;">Companies</span>
                    </div>
                </div>
            </div>
          </a>
        </div>

        <div class="col-md-4">
              <div class="card dash-widget">
                  <div class="card-body">
                      <span class="dash-widget-icon"><i class="fa fa-usd"></i></span>
                      <div class="dash-widget-info">
                          <h3 class="text-primary">${{dashboardResponse?.netDueOfDueInvoices}}</h3>
                          <span>Total Due Amount</span>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-md-4">
              <div class="card dash-widget">
                  <div class="card-body">
                      <span class="dash-widget-icon"><i class="fa fa-usd"></i></span>
                      <div class="dash-widget-info">
                          <h3 class="text-primary">${{dashboardResponse?.netDueOfPendingInvoices}}</h3>
                          <span>Total Pending Amount</span>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-md-4">
              <div class="card dash-widget">
                  <div class="card-body">
                      <span class="dash-widget-icon"><i class="fa fa-usd"></i></span>
                      <div class="dash-widget-info">
                          <h3 class="text-primary">${{dashboardResponse?.totalDueAmount}}</h3>
                          <span>Grand Total</span>
                      </div>
                  </div>
              </div>
          </div>

        <div class="col-md-6 d-flex">
          <div class="card card-table flex-fill">
              <div class="card-header badge p-3 mb-2 bg-info">
                  <!-- <h3 class="card-title mb-0"><span class="badge bg-inverse-danger"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></span> <span class="text-danger"> Due Invoices</span></h3> -->
                  <h3 class="card-title mb-0 text-white ">
                    <span><i class="spinner-grow text-danger" aria-hidden="true"></i></span>
                      Due Invoices Summary
                  </h3>
              </div>
              <div class="card-body">
                  <div class="table-responsive">
                      <table class="table custom-table mb-0">
                          <thead>
                              <tr>
                                  <th>Invoice Number</th>
                                  <th>Company</th>
                                  <th>Due Date</th>
                                  <th>Net Due</th>
                                  <th>Invoice Date</th>
                                  <th><i class="material-icons">more_vert</i></th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let data of dueInvoices; let i = index">
                                  <td class="text-info">#{{data.invoiceNumber}}
                                    <small class="block text-ellipsis">
                                      <span class="badge bg-inverse-danger">Unpaid</span>
                                      <span>
                                        {{data.paymentDueInDays}} days
                                        {{data.paymentDueInMonth}} months
                                        {{data.paymentDueInYears}} years
                                      </span>
                                      <span class="text-muted"> past</span>
                                    </small>
                                  </td>
                                  <td>{{data.supplierName}}</td>
                                  <td>{{data.paymentDueDate}}</td>
                                  <td>${{data.netDue}}</td>
                                  <td>{{data.invoiceDate}}</td>
                                  <td>
                                    <a data-toggle="modal" data-target="#edit_invoice" class="m-r-5" style="cursor: pointer;"
                                        (click)="onDueInvoice(data.id)"><i class="fa fa-pencil-square-o m-r-5"></i></a>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
              <div class="card-footer">
                  <a routerLink="/invoice/invoicelist">View all invoices</a>
              </div>
          </div>
        </div>

        <div class="col-md-6 d-flex">
            <div class="card card-table flex-fill">
                <div class="card-header badge p-3 mb-2 bg-info">
                    <!-- <h3 class="card-title mb-0"><span class="badge bg-inverse-danger"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></span> <span class="text-danger"> Due Invoices</span></h3> -->
                    <h3 class="card-title mb-0 text-white ">
                      <span><i class="spinner-grow text-success" aria-hidden="true"></i></span>
                        Pending Invoices Reminders
                        <div class="dropdown action-label">
                          <a class="btn btn-white btn-sm btn-rounded dropdown-toggle" data-toggle="dropdown"
                              aria-expanded="false">
                              <i class="fa fa-dot-circle-o text-danger"></i> {{days}} Days
                          </a>
                          <div class="dropdown-menu dropdown-menu-right">
                              <a class="dropdown-item" (click)="setDays('1')"><i
                                      class="fa fa-dot-circle-o text-danger"></i>
                                  1 days</a>
                              <a class="dropdown-item" (click)="setDays('7')"><i
                                      class="fa fa-dot-circle-o text-info"></i>
                                  7 days</a>
                              <a class="dropdown-item" (click)="setDays('14')"><i
                                      class="fa fa-dot-circle-o text-info"></i>
                                  15 days</a>
                              <a class="dropdown-item" (click)="setDays('21')"><i
                                      class="fa fa-dot-circle-o text-danger"></i>
                                  21 days</a>
                              <a class="dropdown-item" (click)="setDays('28')"><i
                                      class="fa fa-dot-circle-o text-success"></i>
                                  27 days</a>
                              <a class="dropdown-item" (click)="setDays('30')"><i
                                      class="fa fa-dot-circle-o text-success"></i>
                                  30 days</a>
                          </div>
                        </div>
                    </h3>
                    <br>
                    <i class="text-white"><i class="fa fa-info-circle" aria-hidden="true"></i>
                        Showing pending invoices set to become due in {{days}} or more days
                    </i>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table custom-table mb-0">
                            <thead>
                                <tr>
                                    <th>Invoice Number</th>
                                    <th>Company</th>
                                    <th>Due Date</th>
                                    <th>Net Due</th>
                                    <th>Invoice Date</th>
                                    <th><i class="material-icons">more_vert</i></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of pendingInvoices; let i = index">
                                    <td class="text-info">#{{data.invoiceNumber}}
                                      <small class="block text-ellipsis">
                                        <span class="badge bg-inverse-danger">Unpaid</span>
                                        <span>
                                          {{data.paymentDueInDays}} days
                                          {{data.paymentDueInMonth}} months
                                          {{data.paymentDueInYears}} years
                                        </span>
                                        <span class="text-muted"> left</span>
                                      </small>
                                    </td>
                                    <td>{{data.supplierName}}</td>
                                    <td>{{data.paymentDueDate}}</td>
                                    <td>${{data.netDue}}</td>
                                    <td>{{data.invoiceDate}}</td>
                                    <td>
                                        <a data-toggle="modal" data-target="#edit_invoice" class="m-r-5" style="cursor: pointer;"
                                            (click)="onPendingInvoice(data.id)"><i class="fa fa-pencil-square-o m-r-5"></i></a>
                                      </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <a routerLink="/invoice/invoicelist">View all invoices</a>
                </div>
            </div>
        </div>

    </div>

    <div class="row"  style="display: flex;justify-content: center;">
            <div class="account-logo">
                <a href="javascript:"><img src="assets/img/apnaagora.jpg" alt="Invoice Tracker logo"></a>
            </div>
    </div>
</div>

  <!-- Edit Invoice Modal -->
  <div id="edit_invoice" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Change Payment Status - <span class="text-info">#{{invoiceObj?.invoiceNumber}}</span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="editInvoiceForm">
                  <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="col-form-label">Paid </label>
                          <div class="custom-control custom-switch">
                              <input type="checkbox" [(ngModel)]="invoiceObj.isPaid" formControlName="editIsPaid"
                              class="custom-control-input" id="customSwitch5" checked="">
                              <label class="custom-control-label" for="customSwitch5"></label>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <!-- <span *ngIf="codInCheque" class="text-danger">*</span> -->
                            <label class="col-form-label">Cheque Number </label>
                            <input class="form-control" type="text" [(ngModel)]="invoiceObj.chequeNumber" formControlName="editChequeNumber" placeholder="Cheque Number">
                          <!-- <div
                              *ngIf="editInvoiceForm.get('editChequeNumber').invalid && editInvoiceForm.get('editChequeNumber').touched">
                              <small
                                  *ngIf="editInvoiceForm.get('editChequeNumber').invalid && editInvoiceForm.get('editChequeNumber').touched"
                                  class="text-danger"> *Cheque Number is required</small>
                          </div> -->
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <!-- <span class="text-danger">*</span> -->
                            <label class="col-form-label">Paid Date </label>
                            <div class="cal-icon"><input class="form-control datetimepicker" bsDatepicker type="text" placeholder="mm-dd-yyyy" formControlName="editPaidDate"
                                [(ngModel)]="invoiceObj.paidDate" [bsConfig]="{ dateInputFormat: 'MM-DD-YYYY',  returnFocusToInput: true, isAnimated: true }">
                          <!-- <div
                              *ngIf="editInvoiceForm.get('editPaidDate').invalid && editInvoiceForm.get('editPaidDate').touched">
                              <small
                                  *ngIf="editInvoiceForm.get('editPaidDate').invalid && editInvoiceForm.get('editPaidDate').touched"
                                  class="text-danger"> *Paid date is required</small>
                          </div> -->
                        </div>
                      </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-form-label">Invoice Description</label>
                            <textarea rows="4" class="form-control" [(ngModel)]="invoiceObj.invoiceDesc" placeholder="Description" formControlName="editInvoiceDesc"></textarea>
                          <!-- <div
                              *ngIf="editInvoiceForm.get('editInvoiceDesc').invalid && editInvoiceForm.get('editInvoiceDesc').touched">
                              <small
                                  *ngIf="editInvoiceForm.get('editInvoiceDesc').invalid && editInvoiceForm.get('editInvoiceDesc').touched"
                                  class="text-danger"> *Provide valid data</small>
                          </div> -->
                        </div>
                    </div>
                  </div>
                  <div class="submit-section">
                      <button class="btn btn-primary submit-btn" (click)="onEditInvoice()">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Submit</button>
                  </div>
              </form>
          </div>
        </div>
    </div>
  </div>
  <!-- /Edit Invoice Modal -->
<!-- /Page Content -->
